<footer class="footer_2">
    <div class="container">
        <div class="footer_top">
            <div class="row">
                @*<div class="col-12 col-md-6 col-lg-4">
            <div class="footer_single_col footer_intro">
                <img src="~/Content/images/logo2.png" alt="" class="f_logo">
                <p>Ante amet vitae vulputate odio nulla vel pretium pulvinar aenean. Rhoncus eget adipiscing etiam arcu. Ultricies justo ipsum nec amet.</p>
            </div>
        </div>*@
                @*<div class="col-12 col-md-6 col-lg-2">
            <div class="footer_single_col">
                <h3>Useful Links</h3>
                <ul class="location_info quick_inf0">
                    <li><a href="#">Leadereship</a></li>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Diversity</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Press</a></li>
                </ul>
            </div>
        </div>*@
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="footer_single_col information">
                        <h3>Sayfalar</h3>
                        <ul class="quick_inf0">
                            <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                            <li><a href="@Url.Action("About","Home")">Hakkımızda</a></li>
                            <li><a href="@Url.Action("Branches","Home")">Alanlar</a></li>
                            <li><a href="@Url.Action("SchoolEvents","Home")">Etkinlikler</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="footer_single_col information">
                        <h3>↓       ↓       ↓</h3>
                        <ul class="quick_inf0">

                            <li><a href="@Url.Action("Teacher","Home")">Öğretmenler</a></li>
                            <li><a href="@Url.Action("Announcements","Home")">Duyurular</a></li>
                            <li><a href="@Url.Action("Contact","Home")">İletişim</a></li>
                            <li><a href="@Url.Action("Mezunlar","Home")">Mezunlar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer_single_col contact">
                        <h3>Bize Ulaşın</h3>
                        <p>E-mail ve Telefon:</p>
                        <div class="contact_info">
                      
                            <span class="email"></span>
                        </div>
                       
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="copyright">
                        <a hidden> Hazırlayanlar: Emre Toksöz  https://www.linkedin.com/in/emre-toks%C3%B6z-b953031b6 </a>
                        <a hidden> Hazırlayanlar: Karakoç  https://www.linkedin.com/in/hasan-karako%C3%A7-239511220/ </a>
                        <a target="_blank" href="https://www.templateshub.net" hidden>Template Alınan Yer</a>
                        <h6 hidden>Developer Team: Emre Toksöz, Hasan Karakoç </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shapes_bg">
        <img src="~/Content/images/shapes/testimonial_2_shpe_1.png"  alt="" class="shape_3">
        <img src="~/Content/images/shapes/footer_2.png" alt="" class="shape_1">
    </div>

</footer>