@model ResatSahinProje2021.Models.SchoolEvents

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/ManagamentPanel/Views/Shared/_Layout.cshtml";
}

<h2>Düzenle</h2>

@using (Html.BeginForm("Edit", "SchoolEvents", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Etkinlikler</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EventId)

        <div class="form-group">

            <div class="col-md-10">
                <h4>Başlık</h4>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <h4>Açıklama</h4>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", id = "editor1" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h4>Zamanı</h4>
                @Html.EditorFor(model => model.ShareDate, new { htmlAttributes = new { @class = "form-control", type = "Date" } })
                @Html.ValidationMessageFor(model => model.ShareDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
       
            <div class="col-md-10">
                <h4>Resim Yükle</h4>
                <h4 class="bg-danger">Resim boyutu 540x540 boyutunda olmak zorunda daha büyük bir resim eklerseniz sistem otomatik olarak 540x540 boyutuna dönüştürecektir</h4>

                <img src="@Model.ImageUrl" width="25%" />
                <input type="file" name="imgFile" value="" />
                @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                <h4>Aktiflik :</h4>
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Listeye Geri Dön", "Index")
</div>
