@model IEnumerable<ResatSahinProje2021.Models.SecondaryTeachers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagamentPanel/Views/Shared/_Layout.cshtml";
}

<h2>Ders Öğretmenleri</h2>

<p>
    @Html.ActionLink("Yeni Kayıt", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ad
        </th>
        <th>
            Soyad
        </th>
        <th>
            Ders:
        </th>
        <th>
            Aktiflik:
        </th>
        <th>
            İdare:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Surname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LessonName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsActive)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsPrincipal)
    </td>
    <td>
        @Html.ActionLink("Düzenle", "Edit", new { id = item.STeacherId }) |
        @Html.ActionLink("Detaylar", "Details", new { id = item.STeacherId }) |
        @Html.ActionLink("Sil", "Delete", new { id = item.STeacherId })
    </td>
</tr>
}

</table>
