<div class="ttr-sidebar">
    <div class="ttr-sidebar-wrapper content-scroll">
        <!-- side menu logo start -->
        <div class="ttr-sidebar-logo">
            <div class="ttr-sidebar-toggle-button">
                <i class="ti-arrow-left"></i>
            </div>
        </div>
        <!-- side menu logo end -->
        <!-- sidebar menu start -->
        <nav class="ttr-sidebar-navi">
            <ul>

                <li>
                    <a href="@Url.Action("Index","Abouts")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-book"></i></span>
                        <span class="ttr-label">Hakkımızda</span>
                    </a>
                </li>
                <li class="ttr-seperate"></li>
                <li>
                    <a href="@Url.Action("Index","Branches")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-medall"></i></span>
                        <span class="ttr-label">Branşlar</span>
                    </a>
                </li>
                <li class="ttr-seperate"></li>
                <li>
                    <a href="@Url.Action("Index","SchoolEvents")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-receipt"></i></span>
                        <span class="ttr-label">Etkinlikler</span>

                    </a>

                </li>
                <li class="ttr-seperate"></li>
                <li>
                    <a href="@Url.Action("Index","Teachers")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-clipboard"></i></span>
                        <span class="ttr-label">Alan Öğretmenleri</span>

                    </a>
                </li>
                <li class="ttr-seperate"></li>
                <li>
                    <a href="@Url.Action("Index","SecondaryTeachers")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-clipboard"></i></span>
                        <span class="ttr-label">Ders Öğretmenleri</span>

                    </a>
                </li>
                <li class="ttr-seperate"></li>
                <li>
                    <a href="@Url.Action("Index","Announcements")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-calendar"></i></span>
                        <span class="ttr-label">Duyurular</span>
                    </a>
                </li>
                <li class="ttr-seperate"></li>
                <li>
                    <a href="@Url.Action("Index","Communications")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-email"></i></span>
                        <span class="ttr-label">İletişim</span>
                    </a>
                </li>
                <li class="ttr-seperate"></li>
                <li>
                    <a href="@Url.Action("Index","GraduateArchives")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-bookmark-alt"></i></span>
                        <span class="ttr-label">Mezunların alanları</span>
                    </a>
                </li>
                <li class="ttr-seperate"></li>
                <li>
                    <a href="@Url.Action("Index","Graduates")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-pencil-alt"></i></span>
                        <span class="ttr-label">Mezun olmuş öğrenciler</span>

                    </a>
                </li>
                <li class="ttr-seperate"></li>
                <li>
                    <a href="@Url.Action("Index","FAQS")" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-help-alt"></i></span>
                        <span class="ttr-label">Sıkça Sorulan Sorular</span>

                    </a>
                </li>

            </ul>
            <!-- sidebar menu end -->
        </nav>
        <!-- sidebar menu end -->
    </div>
</div>