@model IEnumerable<ResatSahinProje2021.Models.Sliders>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagamentPanel/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Yeni Kayıt Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
Resim
        </th>
        <th>
           Başlık
        </th>
        <th>
           Açıklaması
        </th>
        <th>
         Durumu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ImageUrl)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    @if (item.IsActive == true)
    {
        @Html.DisplayName("Aktif");
    }
    else
    {
        @Html.DisplayName("Pasif");
    }
    <td>
        @Html.ActionLink("Düzenle", "Edit", new { id = item.SliderId }) |
        @Html.ActionLink("Detaylar", "Details", new { id = item.SliderId }) |
        @Html.ActionLink("Sil", "Delete", new { id = item.SliderId })
    </td>
</tr>
}

</table>
