@model ResatSahinProje2021.Models.ViewModels.AboutViewModel
@{

    ViewBag.Title = "Hakkımızda";
    ViewBag.Title2 = "Anasayfa";

    Layout = "~/Views/Shared/_Layout.cshtml";

    int counter = 1;


}
@section Slider{

    @Html.Partial("_Slider2", true)
}

<section class="about_us"style="background-image:url(../../Content/images/footer_bg_shpe_1.png)">
    <div class="container">
        <div class="row">
            <!--<div class="col-12 col-sm-12 col-md-2 col-lg-2 p-0">
                <div class="banner_about">-->
            @*<img style="width:90%" src="~/Content/images/banner/about_thinking.jpg" alt="" class="img-fluid">*@
            <!--</div>
            </div>-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="about_title">
                    <span><h3>Hakkımızda</h3></span>
                    <h2></h2>
                </div>
            </div>
        </div>

        @foreach (var about in Model.Abouts)
        {
            if (counter == 1)
            {

                <div class="row about_content_wrapper ">
                    @{var img = about.AboutsImages.First();}
                    <div class="col-12 col-sm-9 col-md-8 col-lg-8 ">
                        <div class="about_content">
                            <h3>@about.Title</h3>
                            <p>@Html.Raw(about.Description)</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 p-0 ">
                        <div class="about_content">
                            <img style="width: 60%; padding-left: 50px" src="@img.ImageUrl" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                counter--;
            }
            else
            {
                <div class="row about_content_wrapper">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 p-0  ">
                        @{var img = about.AboutsImages.First();}

                        <div class="about_content">
                            <img style="width: 60%; padding-left: 50px " src="@img.ImageUrl" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                        <div class="about_content">
                            <h3>@about.Title</h3>
                            <p>@Html.Raw(about.Description)</p>
                        </div>
                    </div>
                </div>
                counter++;
            }
        }
    </div>
</section>
<br />

