@model IEnumerable<ResatSahinProje2021.Models.Abouts>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagamentPanel/Views/Shared/_Layout.cshtml";
}

<h2>Hakkımızda</h2>

<p>
    @Html.ActionLink("Yeni Kayıt Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
          Başlık
        </th>
        <th>
           Açıklama
        </th>
        <th>
       Durumu
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>

        @if (item.IsActive == true)
        {
            @Html.DisplayName("Aktif");
        }
        else
        {
            @Html.DisplayName("Pasif");
        }

        @Html.DisplayFor(modelItem => item.IsActive)
    </td>
    <td>
        @Html.ActionLink("Düzenle", "Edit", new { id = item.AboutsId }) |
        @Html.ActionLink("Detaylar", "Details", new { id = item.AboutsId }) |
        @Html.ActionLink("Sil", "Delete", new { id = item.AboutsId })
    </td>
</tr>
}

</table>
