@model ResatSahinProje2021.Models.Graduates

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/ManagamentPanel/Views/Shared/_Layout.cshtml";
}

<h2>Detaylar</h2>

<div>
    <h4>Mezunlar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            İsim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
           Soyisim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            Resim
        </dt>

        <dd>
             <img src="@Model.ImageUrl" width="25%"/>
        </dd>

        <dt>
            Alan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraduateArchives.YearsName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.GraduateId }) |
    @Html.ActionLink("Listeye Geri Dön", "Index")
</p>
